# binary
*.h5
*.png
*.lock

# docs
docs/_build
docs/_templates
docs/_static

# editor files
*~
*#
*.#

# local
_test/*

# python files
**/__pycache__/*
*.pyc
*.egg-info
**/.ipynb_checkpoints/*

# latex files
*.aux
*.bbl
*.blg
*.log
*.out

# report
!report/data/*.png





